@font-face {
  font-family: 'HNeue-Thin';
  src: url('../fonts/HelveticaNeueLTCom-Th.ttf');
}

@font-face {
  font-family: 'HNeue-Light';
  src: url('../fonts/HelveticaNeueLTCom-Lt.ttf');
}

@font-face {
  font-family: 'HNeue-Med';
  src: url('../fonts/HelveticaNeueLTCom-Md.ttf');
}

input.form-control {
  margin-right: -4px; 
  border-radius: 0px;
}

.btn-default {
  background-color: #f36e21;
  color: #ffffff;
  height: 35px;
  border: none;
  border-radius: 0px;
  font-family: "HNeue-Med", Arial, sans-serif;
  font-size: 18px;
  padding-top: 8px;
}

.btn-default a {
  padding-top: 50px;
}

.btn-default:hover {
  background-color: #106aaf;
}

.navbar {
  margin-top: -26px;
}

nav.navbar.navbar-fixed-top {
}

.navbar a {
  font-family: "HNeue-Thin", Arial, sans-serif;
  color: #949494;
  font-size: 20px;
  margin-top: 10px;
  margin-right: 30px;
}

.navbar li {
  margin-top: 20px;
}

.navbar img {
  position: fixed;
  top:0;
}

#for-business {
  background-color: #168eea; 
  color: #ffffff;
  font-size: 16px;
  border-radius: 25px;
  height: 36px;
  margin-top: 8px;
  padding-bottom: 30px;
}

.btn-business a {
  color: #ffffff;
}

.section {
  background-position: 65% top;
  background-size: cover;
}

body {
  width: 100%;
  height: 100%;
  font-family: "HNeue-Med", Arial, sans-serif;
  color: green;
  background-color: black;
}

h1 {
  font-family: "HNeue-Thin", Arial, sans-serif;
  color: #f36e21;
  text-align: right;
  font-size: 4em;
  margin: 0 15px;
}

h2 {
  font-family: "HNeue-Light", Arial, sans-serif;
  color: #ffffff;
  font-size: 2em;
  text-align: right;
  margin: 0 15px;
}

p {
  font-family: "HNeue-Med", Arial, sans-serif;
  color: #6c6c6c;
  text-align: center;
  flex: 0;
}

#panel-01 {
  background: url(../img/bg-01.jpg);
  background-position: 65% top;
  background-size: cover;
}

#panel-02 {
  background: url(../img/bg-02.jpg);
  background-position: 65% top;
  background-size: cover;
}

#panel-03 {
  background: url(../img/bg-03.png);
  background-position: 65% top;
  background-size: cover;
}

#panel-04 {
  background: url(../img/bg-04.jpg);
  background-position: 65% top;
  background-size: cover;
}

#panel-05 {
  background: url(../img/bg-05.png);
  background-position: 65% top;
  background-size: cover;
}

#panel-06 {
  background: url(../img/bg-05.png);
  background-position: 65% top;
  background-size: cover;
}

.separator-container {
  width: 100%;
  margin: 3%;
  flex: 0;
}

.separator {
  width: 100px;
  height: 6px;
  box-shadow: inset 0 4px 0 0 #cacaca;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  align-contents: space-between;
  background: rgba(069, 068, 068, 0.5);
  border-radius: 25px;
  margin: 0 auto;
  width: 70%;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  padding: 15px;
}

.flex-right {
  width: 101%;
  height: 100%;
  margin: 5% 0;
  padding-left: 30%;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-around;
}

.flex-center {
  height: 80%;
  justify-content: space-around;
  margin: 5% 0;
}

.flex-left {
  height: 80%;
  width: 50%;
  margin: 5% 0;
  align-content: flex-start;
  align-items: flex-start;
}

.form-panel {
  width: 100%;
  height: 50%;
  align-content: center;
}

.flex-left p {
  text-align: left;
}

.blog-container {
  width: 100%;
  height:  20%;
}

.blog {

}

.points-list-center {
  flex: 0;
}

.points-list-center p {
  font-size: 1em;
  margin: 3% 10%;
}

.points-list-left {
  flex: 0;
}

.points-list-left p {
  text-align: left;
  margin: 3% 10%;
}

.form-inline {
  text-align: right;
  margin: 0 15px;
}

.iphone-right {
  flex: 0;
  height: 20%;
  text-align: right;
}

.iphone-image {
  flex: 0;
  width: auto;
  margin-left: 10px;
}

@media screen and (max-width: 425px) {
  .flexbox {
    height: 85vh;
    position: fixed;
    bottom: 0;
  }

  h1 {
    flex: 0;
    font-size: 2.5em; 
    text-align: center;
    margin: 10px 0;
  }

  h2 {
    flex: 0;
    font-size: 1.5em; 
    text-align: center;
    margin: 0;
  }
}
