@font-face {
  font-family: 'HNeue-Thin';
  src: url('../fonts/HelveticaNeueLTCom-Th.ttf');
}

@font-face {
  font-family: 'HNeue-Light';
  src: url('../fonts/HelveticaNeueLTCom-Lt.ttf');
}

@font-face {
  font-family: 'HNeue-Med';
  src: url('../fonts/HelveticaNeueLTCom-Md.ttf');
}

.navbar {
  margin-top: -10px;
}

.navbar-brand {
  height: 5px;
}

.navbar-toggle {
  margin-top: 10px;
  font-size: 20px;
}

.section {
  /* padding: 15px 2% 0 2%; */
}

body {
  width: 100%;
  height: 100%;
  font-family: "HNeue-Med", Arial, sans-serif;
  color: green;
  background-color: black;
}

h1 {
  font-family: "HNeue-Thin", Arial, sans-serif;
  color: #f36e21;
  text-align: center;
  padding: 0 10%;
  font-size: 4em;
}

h2 {
  font-family: "HNeue-Light", Arial, sans-serif;
  color: #ffffff;
  font-size: 2em;
  padding: 0 15%;
  text-align: center;
}

p {
  font-family: "HNeue-Med", Arial, sans-serif;
  color: #ffffff;
}

.graybox {
  width: 90%;
  background: #ffffff;
  /* background: rgba(069, 068, 068, 0.9); */
}

.img-centered {
  flex: 0;
  text-align: center;
  margin: auto;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  min-height: 70%;
  padding: 15px;
}

.flex-container {
  display: flex;
  background: rgba(069, 068, 068, 0.9);
  border-radius: 25px;
  margin: 0 auto;
  width: 70%;
  
}

.iphone-image {
  flex: 0;
  height: 80%;
  width: auto;
  height: 70%;
}

.form-inline {
  text-align: center;
  margin: 20px 0;
}
/* .form-container { */
/*   margin: 0 auto; */
/* } */

/* #email-input { */
/*   width: 100%; */
/*   margin: 0 auto; */
/*   text-align: center; */
/* } */

/* #email-submit { */
/*   width: 100%; */
/* } */

@media screen and (max-width: 425px) {
  .flexbox {
    height: 85vh;
    position: fixed;
    bottom: 0;
  }

  h1 {
    flex: 0;
    font-size: 2.5em; 
    text-align: center;
    margin: 10px 0;
  }

  h2 {
    flex: 0;
    font-size: 1.5em; 
    text-align: center;
    margin: 0;
  }
}
